@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%*/;
}

body{
    background-image: linear-gradient(to right, #EBE08A, #D4B172);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 05px 05px 15px #AAD472; /*lado, baixo,espalhar, cor*/
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #F8A177;
    text-align: center;
    text-shadow: 1px 1px 0px #F8A177;
}

h2{ 
    color: #D4B172;
    text-align: center;
}

p{
    text-align: justify;
}
